.navbar {
  background-color: #192b3a;
  display: flex;
}

.navbar ul {
  display: flex;
  justify-content: start;
  margin-left: 750px;
}

.navbar ul li {
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  border-radius: 3px;
  transition: all 0.7s;
}

.navbar ul li:hover {
  background-color: rgb(117, 113, 113);
}

.navbar .leftside img {
  width: 50px;
  height: 50px;
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: none; /* Hide the button by default */
}

.navbar .rightSide svg {
  font-size: 40px;
}

.hiddenLinks {
  display: none;
}

.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open ul {
  width: 60px;
  margin: 5px;
}

/* Media query for screens with a maximum width of 900px */
@media only screen and (max-width: 900px) {
  .navbar .rightSide ul {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 50px;
  }

  /* Reset the display property for the button and .hiddenLinks */
  .navbar .rightSide button,
  .hiddenLinks {
    display: none;
  }
}

/* Media query for screens with a maximum width of 600px */
@media only screen and (max-width: 600px) {
  .navbar .rightSide ul {
    display: none; /* Hide the regular navbar links */
  }

  /* Show the button and .hiddenLinks */
  .navbar .rightSide button,
  .hiddenLinks {
    display: inline-block;
  }
}
